@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <header class="head">
        <h1>Welcome to My Enhanced ASP.NET MVC Website</h1>
    </header>
    <section>
        <h2>About Me</h2>
        <p>I'm David Gamet a developer who is currently looking for work. 
            Here, I'll explain my experiences and cover some of my projects.
        </p>
    </section>
    <section>
        <h2>Features</h2>
        <ul>
            <li>Responsive design</li>
            <li>Rich user interface</li>
            <li>Scalable architecture</li>
        </ul>
    </section>
    <section>
        <h2>Contact Me</h2>
        <p>If you have any questions or feedback, feel free to contact me:</p>
        <address>
            Email: <a href="daves.address4@gmail.com">daves.address4@gmail.com</a><br>
        </address>
    </section>
</div>
