@{
    ViewData["Title"] = "About Me";
}

<main class="container">
    <section class="about-section">
        <h1>About Me</h1>
        <p>
            Hi, I'm David Gamet, a passionate computer programmer with a strong interest in web development and software engineering.
            I love crafting elegant solutions to complex problems and turning ideas into functional and user-friendly applications.
        </p>
        <p>
            With a Bachelor's degree
            and several years of hands-on coding experience, I am skilled in various programming languages,
            including HTML, CSS, JavaScript, and Python.
            My goal is to contribute my skills and expertise to a dynamic team where I can learn, grow, and make a positive impact.
        </p>
    </section>
    <section class="skills-section">
        <h2>Skills</h2>
        <ul>
            <li>Web Development (HTML, CSS, JavaScript, TypeScript, Python)</li>
            <li>Python Programming</li>
            <li>Problem Solving and Algorithm Design</li>
            <li>Database Management (Postgres, SQL)</li>
            <li>Version Control (Git, Jenkins Pipeline, Docker)</li>
        </ul>
    </section>
</main>
